<% include ../partials/header %>

<div class="container">
  <div class="row">
      <h1>Add  new comment to <%= campground.name %></h1>
    <div id = "frm">
    <form id="frm1" action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="text" name="comment[text]">
      </div>
      <div class="form-group">
        <button id="submit">submit</button>
      </div>
      <a id="back" href="/campgrounds">GO BACK</a>
    </form>
      </div>
  </div>
</div>


<style>
   #submit{
      border:solid 3px black;
      text-shadow:2px 2px black ;
      font-size:25px;
      height:9%;
      transition: all 200ms ease-in-out;
      color:white;
      background-color:#33FFE0;
      font-family: 'Overpass Mono', monospace;
      width:100%;
  }
  
  #back{
    color:#0A044D;
  }
  
  h1{
    text-align:center;
  }
  #frm{
    width:30%;
    margin:25px auto;
    border-radius:2px solid red;
  }
  
  

</style>