     <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>this is home page</h1>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <p>LOGGED IN IF ALREADY A USER</p>
    <a id="login" class="btn btn-block" href="/login">LOGIN</a>
  </div>
  <div class="col-lg-4">
     <p>VIEW THE PAGE</p>
     <a id="view" class="btn btn-block" href="/campgrounds">VIEW</a>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <p>NOT A USER YET SIGNUP NOW</p>
    <a id="Register" class="btn btn-block" href="/register">SIGNUP</a>
  </div>
 </div>




<style>
  p{
      font-size:25px;
      margin-top:50px;
/*       margin-left:40px; */
      text-shadow:2px 2px black ;
      color:white;
      font-family: 'Overpass Mono', monospace;
  }

  body{
    background-color:#156B72;
    color:#0A044D;
  }
  
  #login{
      border:dashed 3px whitesmoke;
      text-shadow:2px 2px black ;
      font-size:25px;
      height:70px;
      margin-top:50px;
/*       margin-left:70px; */
      transition: all 200ms ease-in-out;
      color:white;
      background-color:#33FFE0;
      font-family: 'Overpass Mono', monospace;
      width:100%;
  }
  
/*   #login:hover{
        color:#29cc26;
        border:dashed 3px #29cc26;
        text-shadow:2px 2px black ;
        font-size:25px;
        height:70px;
        margin-top:50px;
        transition: all 200ms ease-in-out;
        background-color:black;
        font-family: 'Overpass Mono', monospace;
        width:30%;
        transform:scale(1.5);
  } */
  
  #view{
      border:dashed 3px whitesmoke;
      text-shadow:2px 2px black ;
      font-size:25px;
      height:70px;
      margin-top:50px;
/*       margin-left:70px;  */
      transition: all 200ms ease-in-out;
      color:white;
      background-color:#33FFE0;
      font-family: 'Overpass Mono', monospace;
      width:100%;
  }
  
/*   #view:hover{
        color:#29cc26;
        border:dashed 3px #29cc26;
        text-shadow:2px 2px black ;
        font-size:25px;
        height:70px;
        margin-top:50px;
        transition: all 200ms ease-in-out;
        background-color:black;
        font-family: 'Overpass Mono', monospace;
        width:30%;
        transform:scale(1.5);
  }
   */
   
  
   
  #Register{
      border:dashed 3px whitesmoke;
      text-shadow:2px 2px black ;
      font-size:25px;
      height:70px;
      margin-top:50px;
/*       margin-left:70px; */
      transition: all 200ms ease-in-out;
      color:white;
      background-color:#33FFE0;
      font-family: 'Overpass Mono', monospace;
      width:100%;
  }
/*   
  #Register:hover{
        color:#29cc26;
        border:dashed 3px #29cc26;
        text-shadow:2px 2px black ;
        font-size:25px;
        height:70px;
        margin-top:50px;
        transition: all 200ms ease-in-out;
        background-color:black;
        font-family: 'Overpass Mono', monospace;
        width:30%;
        transform:scale(1.5);
  } */
</style>

