<% include ../partials/header %>

<div class="container">
    <div class="row">
  <div class="col col-lg-4 col-sm-0 col-xs-0 "> </div>
    <div class="col col-lg-4 col-sm-12 col-xs-12 ">
      <h1>Create A New CampGround</h1>
    <div id="frm">
    <form action="/campgrounds" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="name" name="name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="image url" name="image">
      </div>
       <div class="form-group">
        <input class="form-control" type="text" placeholder="description" name="description">
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-lg btn-primary">submit</button>
      </div>
      <a id="back" href="/campgrounds">GO BACK</a>
    </form>
      </div>
  </div>
      <div class="col col-lg-4 col-sm-0 col-xs-0 "> </div>
</div>
  </div>
  


<style>
  #back{
    color:#0A044D;
  }
  .btn{
    color:#0A044D;
  }
   h1{
    text-align:center;
     
  }
  #frm{
/*     width:30%; */
/*     margin:25px auto; */
    border-radius:2px solid red;
  }

</style>