<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">


<h1>sign up</h1>

<div class="container">
  <div class="row">
  <div class="col col-lg-4 col-sm-0 col-xs-0 "> </div>
    <div class="col col-lg-4 col-sm-12 col-xs-12 ">
    <div id = "frm">
    <form action="/register" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="username"  name="username">
      </div>
       <div class="form-group">
          <input class="form-control" type="password" placeholder="password" name="password">
       </div>
      <div class="form-group">
          <input class="form-control" type="email" placeholder="email" name="email">
       </div>
       <div class="form-group">
          <button class="btn btn-block btn-lg btn-primary">Sign Up</button>
       </div>
       <div class="form-group">
          <a id="back" href="/">GO BACK</a>
       </div>
    </form>
  </div>
       <div class="col col-lg-4 col-sm-0 col-xs-0 "> </div>
</div>
 </div>   
    </div>

  

<style>
  #back{
    color:#0A044D;
  }
  
  body{
    background-color:#156B72;
  }
  
  h1{
    text-align:center;
    color:#33FFE0
  }
  #frm{
/*     width:30%; */
/*     margin:25px auto; */
    border-radius:2px solid red;
  }
  
  

</style>